body {
    margin: 0;
  /*overflow-y: hidden; quitar el scroll*/
  background: purple;
}

.splash {
    position: absolute;
    top: 0;
    background: url(../img/math.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.preloader {
    margin: auto;
    
    width: 350px;
    height: 30px;
    background: rgba(0,0,0,0.5);
    
    position: relative;
}

.preloader:before {
    content: "";
    position: absolute;
    background: green;
    width: 0;
    height: 30px;
    
    animation: preloader 10s infinite;
}

.preloader p {
    margin: 0;
    line-height: 30px;
    font-size: 25px;
    font-weight: bold;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cerrar {
    transform: translateY(-100%);
    transition: all 0.5s;
}

@keyframes preloader {
    90% {
        width: 100%;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}
.contenedor{
    max-width: 800px;
    background: white;
    margin: 0 auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-bottom: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}
.titulo{
    text-align: center;
    font-family: Arial;
    font-size: 45px;
}
.metodo1{
    width: 200px;
    height: 200px;
    margin-left: 80px;
    border: 4px solid rgba(0,0,0,.3);
}
.metodo2{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 80px;
    margin-top: -239px;
    border: 4px solid rgba(0,0,0,.3);
}
.metodo3{
    width: 200px;
    height: 200px;
    margin-left: 80px;
    margin-top: 50px;
    border: 4px solid rgba(0,0,0,.3);
}
.metodo4{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 80px;
    margin-top: -239px;
    border: 4px solid rgba(0,0,0,.3);
}
.metodo1:hover{
    border: 4px solid blue; 
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.metodo2:hover{
    border: 4px solid blue; 
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.metodo3:hover{
    border: 4px solid blue; 
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.metodo4:hover{
    border: 4px solid blue; 
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.a1{
    border: 2px solid rgba(0,0,0,.3);
    padding: 2px 20px;
    float: right;
    margin-top: 5px;
    margin-right: 573px;
    text-decoration: none;
}
.a2{
    border: 2px solid rgba(0,0,0,.3);
    padding: 2px 20px;
    float: right;
    margin-right: 143px;
    margin-top: -26px;
    text-decoration: none;
}
.a3{
    border: 2px solid rgba(0,0,0,.3);
    padding: 2px 20px;
    float: right;
    margin-top: 5px;
    margin-right: 573px;
    text-decoration: none;
}
.a4{
    border: 2px solid rgba(0,0,0,.3);
    padding: 2px 20px;
    float: right;
    margin-right: 143px;
    margin-top: -26px;
    text-decoration: none;
}
.a1:hover{
    border: 2px solid blue;
    color: white;
    background: purple;
    transform: scale(1.1);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.a2:hover{
    border: 2px solid blue;
    color: white;
    background: purple;
    transform: scale(1.1);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.a3:hover{
    border: 2px solid blue;
    color: white;
    background: purple;
    transform: scale(1.1);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.a4:hover{
    border: 2px solid blue;
    color: white;
    background: purple;
    transform: scale(1.1);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.p1-m1{
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    color: purple;
}
.p2-m1{
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    color: purple;
}
.p3-m1{
    text-align: center;
    font-size: 20px;
    font-family: verdana;
    font-weight: bold;
    color: purple;
    padding-bottom: 30px;
}
@media (max-width: 576px) {
   
    body{
        padding-bottom: 50px;
        padding-top: 30px;
    }
    .splash{
        background-size: 100% 100%;

    }
    .contenedor{
    max-width: 400px;
    background: white;
    margin: 0 auto;
    height: 1120px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
    .titulo{
    font-size: 30px;
    }
    .metodo1{
        margin-left: 100px;
    }
    .metodo2{
        margin-top: 25px;
        margin-right: 90px;
    }
    .metodo3{
        margin-top: 325px;
        margin-left: 100px;
    }
    .metodo4{
         margin-top: 35px;
        margin-right: 90px;
    }
    .a1{
        margin-top: 10px;
        margin-right: 153px;
    }
    .a2{
        margin-top: 10px;
        margin-right: 153px;
    }
    .a3{
        margin-top: 10px;
        margin-right: 153px;
    }
    .a4{
        margin-top: 10px;
         margin-right: 153px;
    }
}